.container {
  padding: 0 0 16px;
}

.main {
  margin-bottom: 16px;
}

.timerForm {
  margin-bottom: 16px;
}

.actions {
  display: flex;
}
.actions button {
  flex: 1;
}
.actions :not(:last-child) {
  margin-right: 8px;
}

.checkboxes {
  margin-top: 24px;
}
