.container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: var(--card-bg);
  color: var(--card-text);
}

.main {
  width: 80%;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px;
}

.description {
  margin: 4px 0 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
