.container {
  padding-bottom: 24px;
}

.addListButtonWrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addListButtonWrapperBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-right: 16px;
}

.addListButtonWrapperBottom a {
  max-width: 420px;
  width: 90%;
}

.lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lists li {
  margin-bottom: 8px;
}
