.container {
  padding: 16px 0;
}

.state {
  padding: 8px 16px;
  font-size: 2rem;
  font-weight: bold;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra {
  margin-top: 12px;
}

.nextOnComplete {
  margin-top: 8px;
}
