.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container a img {
  display: block;
}

.container :global(.action) {
  padding: 4px;
}

.settings {
  display: block;
}
