.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container a img {
  display: block;
}

.actions {
  display: flex;
  align-items: center;
}

.wakeLockInput {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.action {
  padding: 4px;
}
.action:not(:last-child) {
  margin-right: 8px;
}
