.addListButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: inconsolata, Sans-serif;
  font-size: 28px;
  color: var(--text-color);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  background-color: var(--base-400);
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-800);
  box-shadow: 4px 4px 0 0 var(--base-800);
  padding: 8px 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.addListButton:hover {
  background-color: var(--base-500);
}
.addListButton:focus {
  box-shadow: none;
  border-color: var(--base-300);
  box-shadow: 4px 4px 0 0 var(--base-300);
}

.addListButtonWrapper {
  background-color: var(--base-50);
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
