.container {
  display: block;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.action:not(:last-child) {
  margin-right: 8px;
}

.description {
  white-space: pre-wrap;
}
