.container {
  display: block;
}

.main {
  display: flex;
  align-items: center;
}

.main h3 {
  margin: 0;
}

.status {
  margin-right: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.description {
  margin: 0;
  padding: 8px 0;
  white-space: pre-wrap;
  overflow: hidden;
}

.action {
  margin-left: auto;
}
