.container {
  display: block;
}

.main {
  display: flex;
  align-items: center;
}

.status {
  margin-right: 16px;
}

.description {
  margin: 0;
  padding: 8px 0;
  white-space: pre-wrap;
  overflow: hidden;
}
