:root {
  --error-text: #d0000d;
  --error-bg: #d0000d;

  --base-color: #696969;
  --body-bg: #bdbdbd;
  --body-text: #000;
  --body-box-shadow: #979797;
  --card-bg: #939393;
  --card-text: #000;
  --timer-progress-bg: #545454;
  --timer-progress-text: #fff;
  --timer-total-bg: #6d6d6d;
  --timer-total-text: #fff;
  --action-fancy-text: #fff;
  --action-fancy-bg: #3f3f3f;
  --action-fancy-bg-hover: #393939;
  --action-fancy-bg-active: #454545;
  --action-fancy-border: #191919;
  --action-primary-text: #fff;
  --action-primary-bg: #4a4a4a;
  --action-primary-bg-hover: #585858;
  --action-primary-bg-active: #515151;
  --action-secondary-text: #fff;
  --action-secondary-bg: #7e7e7e;
  --action-secondary-bg-hover: #656565;
  --action-secondary-bg-active: #717171;
  --action-disabled-bg: #a5a5a5;
  --action-disabled-text: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-text);
  background-color: var(--body-bg);
}

svg {
  display: block;
}

button,
a {
  border-radius: 4px;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup:not(:last-child) {
  margin-bottom: 8px;
}

.inputGroup label {
  display: inline-block;
  margin-bottom: 4px;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
  padding: 8px;
}

.inputGroup.inputGroup__checkbox {
  padding: 8px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.inputGroup__checkbox input {
  width: 1.5rem;
  height: 1.5rem;
}
.inputGroup__checkbox label {
  margin-left: 8px;
  margin-bottom: 0;
}

.inputGroup :global(.error) {
  border-color: var(--error);
}

.inputError {
  color: var(--error-text);
  background-color: var(--error-bg);
  padding: 4px;
}

.formActions * {
  margin-top: 16px;
  display: block;
}

.formActions .cancel {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.formActions .submit {
  width: 100%;
}

.action__fancy {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: inconsolata, Sans-serif;
  font-size: 28px;
  color: var(--action-fancy-text);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  background-color: var(--action-fancy-bg);
  border-style: solid;
  border-width: 2px;
  border-color: var(--action-fancy-border);
  box-shadow: 4px 4px 0 0 var(--action-fancy-border);
  padding: 8px 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.action__fancy:hover {
  background-color: var(--action-fancy-bg-hover);
}
.action__fancy:active {
  background-color: var(--action-fancy-bg-active);
}
.action__fancy:focus {
  box-shadow: none;
  /* border-color: var(--ac); */
  /* box-shadow: 4px 4px 0 0 var(--base-300); */
}

.a-reset {
  text-decoration: none;
  color: inherit;
}

.action {
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: 8px;
}
.action:disabled {
  background-color: var(--action-disabled-bg);
  color: var(--action-disabled-text);
}
.action__primary {
  background-color: var(--action-primary-bg);
  color: var(--action-primary-text);
}
.action__primary svg {
  color: var(--action-primary-text);
}
.action__primary:hover {
  background-color: var(--action-primary-bg-hover);
}
.action__primary:active {
  background-color: var(--action-primary-bg-active);
}

.action__secondary {
  background-color: var(--action-secondary-bg);
  color: var(--action-secondary-text);
}
.action__secondary svg {
  color: var(--action-secondary-text);
}
.action__secondary:hover {
  background-color: var(--action-secondary-bg-hover);
}
.action__secondary:active {
  background-color: var(--action-secondary-bg-active);
}
