:root {
  --text-color-light-bg: #000000;
  --text-color-dark-bg: #ffffff;
  --base-50: #eee9fc;
  --base-100: #ddd2f9;
  --base-200: #bba5f3;
  --base-300: #9a78ed;
  --base-400: #784ce6;
  --base-500: #561fe0;
  --base-600: #4519b3;
  --base-700: #341287;
  --base-800: #220c5a;
  --base-900: #11062d;
  --error: #d0000d;
}

body {
  color: var(--text-color-light-bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-50);
}

svg {
  display: block;
}

button,
a {
  border-radius: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.inputGroup label {
  margin-bottom: 4px;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
  padding: 8px;
}

.inputGroup.inputGroup__checkbox {
  padding: 8px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.inputGroup__checkbox input {
  width: 1.5rem;
  height: 1.5rem;
}
.inputGroup__checkbox label {
  margin-left: 8px;
  margin-bottom: 0;
}

.inputGroup :global(.error) {
  border-color: var(--error);
}

.inputError {
  color: #fff;
  background-color: var(--error);
  padding: 4px;
}

.formActions * {
  margin-top: 16px;
  display: block;
}

.formActions .cancel {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.formActions .submit {
  width: 100%;
}

.action__fancy {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: inconsolata, Sans-serif;
  font-size: 28px;
  color: var(--text-color-dark-bg);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  background-color: var(--base-400);
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-800);
  box-shadow: 4px 4px 0 0 var(--base-800);
  padding: 8px 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.action__fancy:hover {
  background-color: var(--base-500);
}
.action__fancy:focus {
  box-shadow: none;
  border-color: var(--base-300);
  box-shadow: 4px 4px 0 0 var(--base-300);
}

.a-reset {
  text-decoration: none;
  color: inherit;
}

.action {
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: 8px;
}
.action:disabled {
  background-color: #a5a5a5;
}
.action__primary {
  background-color: var(--base-700);
  color: var(--text-color-dark-bg);
}
.action__primary svg {
  color: var(--text-color-dark-bg);
}
.action__primary:hover {
  background-color: var(--base-500);
}
.action__primary:active {
  background-color: var(--base-600);
}

.action_secondary {
  background-color: var(--base-500);
  color: var(--text-color-dark-bg);
}
.action_secondary svg {
  color: var(--text-color-dark-bg);
}
.action_secondary:hover {
  background-color: var(--base-700);
}
.action_secondary:active {
  background-color: var(--base-600);
}
